# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folder
training_data
raw_data
results
Illustrator_files
assets/pixi_test_data/nuclei_preds

# Jupyter Notebook
.ipynb_checkpoints

# pixi environments
.pixi/*
!.pixi/config.toml
