# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data folder
training_data
raw_data
results
Illustrator_files

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

3D_Stardist/nihanseb_dev.ipynb